@use "sass:meta";
@use "throw";

@function error($message, $source: null, $catch: true) {
  $raw-error: throw.error(
    $message: $message,
    $source: $source,
    $catch: $catch,
  );

  @if $catch == true {
    @if $source != null {
      @return "#{$source}: #{$message}";
    } @else {
      @return "Error: #{$message}";
    }
  }

  @return $raw-error;
}

@mixin error($message, $source: null, $catch: true) {
  $formatted: if(
    $source != null,
    "#{$source}: #{$message}",
    "Error: #{$message}"
  );
  @include throw.error(
    $message: $formatted,
    $source: null,
    $catch: $catch // уже включено в сообщение
  );
}
