@use "sass:math";

@function percent($px, $from) {
  @return math.div($px, $from) * 100%;
}

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

@function em($px, $current) {
  @return math.div($px, $current) * 1em;
}
