@use "@styles/abstracts/size" as size;
@use "@styles/design-system/tokens/components" as components;
@use "@styles/design-system/tokens/semantics" as tokens;

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: tokens.$modal-layer;
  box-shadow: tokens.$shadow-edge-indicator;

  &-active {
    display: block;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-bottom: size.rem(20);

    background: tokens.$color-background-primary;
    padding: size.rem(20);
    border-radius: tokens.$border-radius-layout;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &__title {
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: size.rem(10);
  }

  &__input {
    width: 100%;
    padding: size.rem(10) size.rem(20);
    border: size.rem(1) solid tokens.$color-atoms-border;
    border-radius: tokens.$border-radius-atoms;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }
}

.title-modal {
  text-align: center;

  &__text {
    @include components.apply-typography(tokens.$heading-content);
  }
}
