doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Wishbone | Welcome
    script(src="@scripts/landing.ts", defer="defer")
    link(href="@styles/style.scss", rel="stylesheet")
  body 
    block header

    main
      block overview
      block about
      block example1
      block pipeline
      block example2
      block customers
      block example3
      block featured
      block team
      block contact
      block footer
