@use "sass:math";

@function adaptive-clamp($from, $to, $screen-from, $screen-to) {
  $min: math.min($from, $to);
  $max: math.max($from, $to);

  $slope: math.div(($to - $from), ($screen-to - $screen-from));
  $vw: $slope * 100;
  $intercept: $from - ($slope * $screen-from);
  $sign: if($vw >= 0, "+", "-");
  $preferred: calc(#{$intercept} #{$sign} #{math.abs($vw)}vw);
  @return clamp(#{$min}, #{$preferred}, #{$max});
}
