extends @layout/landing/landing.pug

block header
  include @layout/core/header.pug

block overview
  include @layout/landing/overview.pug

block about
  include @layout/landing/about.pug

block example1
  include @layout/landing/house-example.pug

block pipeline
  include @layout/landing/pipeline.pug

block example2
  include @layout/landing/marble-staircase-example.pug

block customers
  include @layout/landing/customers.pug

block example3
  include @layout/landing/swirling-staircase-example.pug

block featured
  include @layout/landing/featured.pug

block team
  include @layout/landing/team.pug

block contact
  include @layout/landing/contact.pug

block footer
  include @layout/core/footer.pug
