$color-neutral-100: #ffffff;
$color-neutral-200: #f7f7f7;
$color-neutral-300: #ece7e4;
$color-neutral-400: #cec4bc;
$color-neutral-500: #645c55;
$color-neutral-600: #403e3b;
$color-neutral-700: #1b1a1a;
