doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Wishbone 
    link(rel="stylesheet", href="@styles/style.scss")
  body 
      
  script(src="@scripts/main.ts")
