@use "variables" as *;

@function mocked-clamp-for-decreasing-range() {
  $preferred: calc(37.3333333333px - 1.6666666667vw);
  @return clamp($to, #{$preferred}, $from);
}

@function mocked-clamp-for-increasing-range() {
  $preferred: calc(10.6666666667px + 1.6666666667vw);
  @return clamp($to, #{$preferred}, $from);
}

@function mocked-fixed-value-clamp() {
  $fixed-value: calc(#{$to} + 0vw);
  @return clamp($to, #{$fixed-value}, $to);
}

@function mocked-clamp-with-negative-sizes() {
  $preferred: calc(-37.3333333333px + 1.6666666667vw);
  @return clamp(-#{$from}, #{$preferred}, -#{$to});
}
