@use "@styles/abstracts" as *;

.header {
  padding: rem(22) 0;

  &__container {
    margin: 0 auto;
    max-width: rem(1200);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.nav-header {
  &__list {
    display: flex;
    align-items: center;
    gap: rem(30);
  }

  &__item {
  }

  &__button {
  }
}
