header.header
  .header__container
    .header__logo.logo-header
      img(src="@assets/images/header-logo.svg", alt="Wishbone + Partners")
  nav.header__nav.nav-header
    ul.nav-header__list
      li.nav-header__item
        | Projects
      li.nav-header__item
        | About 
      li.nav-header__item
        | News
      li.nav-header__item 
        | Team
      li.nav-header__item 
        | Contact
      li.nav-header__item 
        button.nav-header__button
          | Get template
