@use "@styles/abstracts" as *;

.featured {
  padding-top: rem(120);
  padding-left: 0;
  padding-bottom: rem(100);
  padding-right: 0;

  &__container {
    margin: 0 auto;
    max-width: rem(1168);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
