@use "@styles/design-system/tokens/components" as components;
@use "@styles/design-system/tokens/semantics" as tokens;

body {
  @include components.apply-typography(tokens.$primary-text);
  color: tokens.$color-text-primary;
}
